body {
  background: #3f91b730;
}


figure {
  width: 50px;
  height: 55px;
display: inline;

}



}
div {
  color: #3f92b7;
  color: #257598;
  color: #3e3f3f;
  color: #f1f1f1;
  color: #eaecf0;
  color: #ed1b24;
}
