header {
  text-align: right;
  margin: 0;
  color: white;
}

body {
  background: #3f91b730;
}

h1 {
  text-align: center;
  color: #555;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 50px;
}

figure {
  display: inline-block;
  width: 350px;
  height: 265px;
  color: #3e3f3f;
  border: 2px solid #25759875;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font: 14px/20px Arial;
  background: #fff;
  /*shadow: 30px 3px yellow;*/
}

figure img {
  width: 350px;
  height: 195px;
  margin: 0 auto;
}

figcaption {
  padding: 4px 10px 0 10px;
}
figcaption {
  position: relative;
  display: inline-block;
}

figure:hover {
  /* filter: blur(1px);*/
  border: 2px solid #25759899;
  box-shadow: 0px 8px 16px 0px #257598aa;
  /*opacity: 0.8;*/
}
div {
  color: #3f92b7;
  color: #257598;
  color: #3e3f3f;
  color: #f1f1f1;
  color: #eaecf0;
  color: #ed1b24;
}
